@model AvivCRM.UI.Areas.Environment.ViewModels.TicketGroupVM

<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title mt-0" Id="">Ticket Group Setup</h5>
	</div>
	<div class="modal-body">
		<form id="createFormTicketGroup" data-url="Create" asp-action="Create" method="post">
			@* <div asp-validation-summary="All" class="text-danger"></div> *@
			<div class="row">
				<div class="col-lg-12">
					<label asp-for="Name">Group Name</label>
					<input asp-for="Name" class="form-control"/>
					@* <span asp-validation-for="Name" class="text-danger"></span> *@
				</div>
			</div>
			<div class="row mt-4 text-end ">
				<div class="col-lg-12 ">
					<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
					<button type="submit" class="btn btn-sm btn-de-primary" data-save="modal"><i class="mdi mdi-check-all me-2"></i>Create</button>
				</div>
			</div>
		</form>
	</div>
</div>